[client]
port = {{db.mysql_listen_port}}
socket=/var/lib/mysql/mysql.sock
user=root
password={{ mysql_root_secure_password }}

[mysql]
port = {{db.mysql_listen_port}}
socket=/var/lib/mysql/mysql.sock
user=root
password={{ mysql_root_secure_password }}

[mysqladmin]
port = {{db.mysql_listen_port}}
socket=/var/lib/mysql/mysql.sock
user=root
password={{ mysql_root_secure_password }}

[mysqldump]
port = {{db.mysql_listen_port}}
socket=/var/lib/mysql/mysql.sock
user=root
password={{ mysql_root_secure_password }}

[mysqldiff]
port = {{db.mysql_listen_port}}
socket=/var/lib/mysql/mysql.sock
user=root
password={{ mysql_root_secure_password }}

[xtrabackup]
port = {{db.mysql_listen_port}}
socket=/var/lib/mysql/mysql.sock
user=root
password={{ mysql_root_secure_password }}

